<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="TournamentDB_421_SemenovaOlesyaEntities" connectionString="metadata=res://*/Bases.Model1.csdl|res://*/Bases.Model1.ssdl|res://*/Bases.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0B0OMCD\SQLEXPRESS;initial catalog=TournamentDB_421_SemenovaOlesya;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="TournamentDB_421_SemenovaEntities" connectionString="metadata=res://*/Bases.Model1.csdl|res://*/Bases.Model1.ssdl|res://*/Bases.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0B0OMCD\SQLEXPRESS;initial catalog=TournamentDB_421_Semenova;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>